header {
    font-size: 14pt;
    text-align: center;
}

footer {
    text-align: center;
}
li {
    font-size: 10pt;
}
nav {
    font-size: 12pt;
    text-align: center;
}

h1 {
    font-size: 20pt;
    font-weight:bold;
}

body{
    font-size: 10pt;
}

.heading {
    text-decoration: underline;
}

.experience {
    font-size: 10pt;
    font-weight: bold;

}

#m5ts2p {
    font-weight: bold;
}

#j2m3s0 {
    font-weight: bold;
}