header {
    font-size: 14pt;
    text-align: center;
}

footer {
    text-align: center;
}
li {
    font-size: 10pt;
}
nav {
    font-size: 12pt;
    text-align: center;
}

h1 {
    font-size: 20pt;
    font-weight:bold;
}
p {
    font-size: 10pt;
}

.heading {
    text-decoration: underline;
}

.experience {
    font-size: 10pt;
    font-weight: bold;

}

#m5ts2p {
    font-weight: bold;
    text-align: left;
}

table, th, td {
    border: 1px solid;
    width: 50%;

}

th {
    font-size: 14;
}

.date {
    float: right;
}